table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    font-family: sans-serif;
}

th {
    font: 1em sans-serif;
    background-color: darkturquoise;
    font-weight: 600;
}

td {
    padding: 5px;
    font: 1em sans-serif;
}

table {
    margin: 0 auto;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    font: 1.2em sans-serif;
}

h2 {
    font-family: sans-serif;
}

hr {
    height: 3px;
    width: 75%;
    background-color: black;
}